.filter__container {
  display: flex;
  // gap: 10px;
  justify-content: center;
  font-family: $fontmain;
  
}
.filter-dropdown_main {
  width: 130px;
  height: 40px;
  border-radius: 50px;
  font-family: $fontmain;
  font-size: 16px;
  border: none;
  background-color: $bgcolorwhite;
}
.filter-dropdown_orange {
  width: 130px;
  height: 40px;
  border-radius: 50px;
  font-family: $fontmain;
  font-size: 16px;
  border: none;
  color: $colortextlight;
  background-color: $bgcoloryellow;
}
.filter-dropdown_main:hover {
  color: $colortextlight;
  background-color: $bgcoloryellow;
}
.dropdown-child_open {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  background-color: $bgcolorgrey;
}
.dropdown-child_closed {
  display: none;
}
.input {
  width: 50px;
  border-radius: 5px;
  border: 1px solid gray;
}
.clearButton {
  width: 130px;
  height: 40px;
  border-radius: 50px;
  font-family: $fontmain;
  font-size: 16px;
  border: none;
  background-color: $bgcolorwhite;
}
.clearButton:hover {
  background-color: $bgcolorgrey;
}
