main {
  background-color: $bgcolorgrey;
  font-family: $fontmain;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.card {
  margin: 5px;
  padding: 10px 10px 0;
  border-radius: 10px;
  background-color: $bgcolorwhite;
  max-width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }

  .card__img {
    max-width: 200px;
    max-height: 200px;
  }

  .card__btn {
    border: none;
    color: $colortextdark;
    border-radius: 25px;
    font-size: 1.05rem;
    padding: 4% 25%;
    background-color: $bgcoloryellow;
    
    &:hover {
      background-color: $bgcolororange;
      color: $colortextlight;
      top: -2px;
      box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    }
  }

  .card__title {
    font-weight: 600;
    font-size: 1.05rem;
    margin: 2px 0 2px 2px;
  }

  .card__calories, .card__ingredients, .card__link {
    font-weight: 400;
    margin: 2px 0 4px 2px;   
  }

  .card__calories {
    color: $colortextgrey;
  }

  .card__link {
    text-decoration: none;
    color: $colortextgrey;
    font-size: 0.85rem;
    &:hover {
      top: -2px;
      font-size: 0.9rem;
    }
  }
}