.recipepage-container {
  max-width: 930px;
  margin: 0 auto;

  .recipepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 204px 33px 113px repeat(2, 1fr);
    justify-items: center;
    max-height: 2000px;
    border-radius: 30px;
    padding: 10px;
    background-color: $bgcolorwhite;
    margin-bottom: 65px;
  }
  .recipepage__img {
    grid-area: 1/1/4/2;
    align-items: center;
    max-width: 330px;
    width: 100%;
    max-height: 330px;
    border-radius: 30px;
    object-fit: cover;
    padding: 20px;
    margin-top: 30px;
  }
  .recipepage__title {
    grid-area: 1/2/2/2;
    font-size: 1.25em;
    color: $colortextdark;
    h2 {
      margin: 40px 0 0;
    }
    &:hover {
      color: $bgcolororange;
    }
  }
  .recipepage__subtitle {
    grid-area: 2/2/3/3;
    text-align: center;
    font-size: 1.5em;
  }

  .recipepage__info {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding-right: 20px;
  }
  span {
    font-size: 1.5em;
    font-weight: 900;
    color: $bgcolororange;
  }
  .recipepage__nutrition {
    grid-area: 3/2/4/3;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid $bgcolorgrey;
    border-bottom: 3px solid $bgcolorgrey;
  }
  .recipepage__info-heal {
    grid-area: 4/2/5/3;
    padding: 40px 20px;
    margin-bottom: 20px;
  }

  .recipepage__nutrition-item {
    text-align: center;
  }

  .recipepage__ingredients {
    grid-area: 4/1/6/2;
    margin: 0;
    padding: 0;
  }

  .recipepage__ingredients-item {
    width: 100%;
    padding: 0 10px 0 50px;
    font-size: 1em;
  }
}
.recipepage__btn {
  grid-area: 5/2/6/3;
  margin: 3.1em 4em;
  width: 280px;
  height: 55px;
  background-color: $bgcolororange;
  color: $colortextlight;
  border-radius: 25px;
  padding: 12px;
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
  &:hover {
    background-color: $bgcoloryellow;
    transform: scale(1.1);
  }
}

@media (max-width: 960px) {
  .recipepage-container {
    max-width: 870px;
    .recipepage__img {
      padding: 0;
      border-radius: 20px;
    }
    .recipepage__title {
      h2 {
        margin: 0;
      }
    }
    .recipepage__info {
      padding-left: 30px;
    }
    .recipepage__btn {
      margin: 2.5em 3.2em;
    }
  }
}
@media (max-width: 860px) {
  .recipepage-container {
    max-width: 600px;
    max-height: none;
    .recipepage {
      display: flex;
      flex-direction: column;
      max-height: none;
      align-items: center;
    }
    .recipepage__img {
      padding: 20px;
      border-radius: 40px;
    }
    .recipepage__title {
      text-align: center;
      font-size: 1.2em;
    }
    .recipepage__info {
      padding: 0;
    }
    .recipepage__info-heal {
      margin: 0;
      padding: 10px;
    }
    .recipepage__ingredients {
      padding: 0 15px;
    }
    .recipepage__ingredients-item {
      padding: 0 10px 0 25px;
    }
    .recipepage__btn {
      margin: 2em;
    }
  }
}
@media (max-width: 460px) {
  .recipepage-container {
    max-width: none;
    .recipepage {
      padding: 0;
      margin-bottom: 90px;
    }
    .recipepage__img {
      margin-top: 0;
    }
    .recipepage__subtitle {
      margin-bottom: 10px;
    }
    .recipepage__info {
      padding: 0 15px;
    }
    .recipepage__ingredients {
      padding: 0 10px;
    }
    .recipepage__ingredients-item {
      padding: 0 5px;
    }
    .recipepage__btn {
      margin: 1em;
    }
  }
}
@media (max-width: 320px) {
  .recipepage-container {
    .recipepage__title {
      font-size: 1em;
    }
    .recipepage__subtitle {
      font-size: 1.2em;
    }
    .recipepage__nutrition-item {
      font-size: 0.8em;
    }
    .recipepage__ingredients {
      padding: 0;
    }
    .recipepage__btn {
      width: 240px;
      margin: 1em;
    }
  }
}
#recipepageHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#recipepageBtn {
  height: 52px;
  text-align: center;
  padding: 15px 10px;
}
#recipepageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#recipepageBtn {
  height: 50px;
  text-align: center;
  padding: 13px 5px;
  @media (max-width: 676px) {
    height: 40px;
    text-align: center;
    padding: 9px 5px;
  }
}
